@import "../../variables.scss";

.grid-container {
  background-color: $grid-bg-color;
  overflow: auto;
  padding: 0 15px;
  .col {
    padding-top: 15px;
  }

  .field {
    color: $darkgrey;
    border-right: 2px solid $grid-bg-color;
  }

  .even {
    background-color: $grid-row-odd;
    
  }
  .odd {
    background-color: $grid-row-even;

  }

  .colsm {
    background-color: $grid-bg-color;
    flex: none;
  }

  i{
      cursor: pointer;
     
  }
  i.default-color{
    color: $icon-default-color;
  }
  i.blue-color{
    color: $link-color;
  }

//   .grid-header{
//       position: fixed;
//     width: inherit;
//         z-index: 100;
//         background-color: $grid-bg-color;
//   }
}
