
.form-group{
    position: relative;
    .preview{
        position: absolute;
        top:0;
        right: 0;
    }
}

.master-solution-sheet-view{
    div.row[data-is_active="false"]{
       .field{
        background-color: #b6c1cc;
        color: red;
       }
    }
}