$theme-colors: (
    "primary": #238ED8,
);

@import "~bootstrap/scss/bootstrap";
@import './variables.scss';
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


html, body {
  background: $darkgrey;
}
* {
  box-sizing: border-box;
}

.ses-form {
  color: $text-color;
  .form-control{
    height: 50px;
  }
  .form-control,
  .input-group-text {
    border-radius: 0;
    color: $text-color;
    background-color: $modal-bg-color;
    border-color: $modal-close-color;
  }
  .bg-white {
    background-color: $white;
    color: $input-text-color;
  }
  a {
    text-decoration: none;
    &.delete{
      color: $lightgray;
    }
  }
  .panel-group {
    padding: 10px;
    border: 1px dashed $link-color;
  }

  .hr-dashed{
    border-bottom: 1px dashed $modal-close-color;
    margin: 20px 0;
  }
}

.ses-multi-select{
  .label{
    position: relative;
    cursor: pointer;
    label{
      position: relative;
      top: 5px;
    }
    i{
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
  .options{
    display: flex;
    flex-direction: column;
    height: auto!important;
  }
}
.required{
  color: red;
}