$darkgrey: #181818;
$white: #fff;
$lightgray:#353535;
$l-darkgray: #1d1d1d;

$text-color: #BFBFBF;
$grid-bg-color: #282828;
$grid-row-odd: #E5E5E5;
$grid-row-even: #F5F5F5;


$sidebar-bg-color: #1d1d1d;
$submenu-bg-color: rgba(255, 255, 255, 0.05);
$submenu-bg-color-collapsed: rgba(29, 29, 29, 0.95);
$sidebar-color: #adadad;
$highlight-color: #d8d8d8;
$icon-bg-color: rgba(255, 255, 255, 0.05);
$icon-size: 35px;
