@import "../../variables.scss";

div.pro-sidebar-header {
  border-bottom: none !important;
}
.pro-icon {
  background: $darkgrey;
  color: $white;
}

.pro-menu-item.active {
  .pro-icon {
    border: 1px solid $white;
  }
}

.app .collapsed .sidebar-btn {
  line-height: 35px;
}

.main-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  > div:first-child {
    flex: 1 0 25%;
    max-width: 25%;
    padding-top: 50px;
  }
  > div:last-child {
    flex: 1 0 75%;
    max-width: 75%;
    padding-top: 50px;
  }
  .left-container{
      align-items: center;
      justify-content: center;
      text-align: center;
        position: relative;

      .configuration-items{
          text-align: left;
          padding-left: 10%;
          .item-list{
              list-style: none;
              line-height: 4em;
              color: $lightgray;
              .item{
                  &.active{
                      color: $white;
                  }
                  font-size: 24px;
              }
          }
      }

      .logo{
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          img{
              height: 100px;
              width: 320px;
          }
      }
      
  }
  .right-container {
    border-left: 1px solid $lightgray;
    .header{
        padding-left: 50px;
        display: flex;
        justify-content: space-between;
        button{
            width: 250px;
            border-radius: 0;
        }
    }
    // 
    width: 100%;
    hr{
        border-top: 1px solid $lightgray;
    }
  }
}
