@import "../../variables.scss";

div.pro-sidebar-header {
  border-bottom: none !important;
}
.pro-icon {
  background: $darkgrey;
  color: $white;
}

.pro-menu-item.active {
  .pro-icon {
    border: 1px solid $white;
  }
}

.app .collapsed .sidebar-btn {
  line-height: 35px;
}

.main-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  > div:first-child {
    flex: 1 0 25%;
    max-width: 25%;
    padding-top: 50px;
  }
  > div:last-child {
    flex: 1 0 75%;
    max-width: 75%;
  }
  .left-container {
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    .link {
      color: inherit;
      text-decoration: none;
    }

    .configuration-items {
      text-align: left;
      padding-left: 10%;
      .item-list {
        list-style: none;
        line-height: 4em;
        color: $lightgray;
        .item {
          &.active,
          &:hover {
            color: $white;
          }
          font-size: 24px;
        }
      }
    }

    .logo {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      img {
        height: 100px;
        width: 320px;
      }
    }
  }
  .right-container {
    border-left: 1px solid $lightgray;
    overflow: auto;
    .header {
      padding: 50px 50px 20px 50px;
      display: flex;
      justify-content: space-between;
      position: fixed;
      button {
        width: 250px;
        border-radius: 0;
      }

      border-bottom: 1px solid $lightgray;
      z-index: 100;
      background-color: $darkgrey;
      width: 72%;
    }
    //
    .sub-container {
      padding: 0 50px;
      position: relative;
      top: 140px;
      .card {
        background: $l-darkgray;
        color: $text-color;
        .sub-title {
          color: $lightgray;
        }
        .sub-header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          > .titles {
            flex: 1 0 80%;
          }
          > .tools {
            flex: 1 0 20%;
            i {
              float: right;
              margin-left: 25px;
              cursor: pointer;
            }
          }
        }
      }
      .sub-item {
        margin-bottom: 20px;
      }
    }
  }
}

.center{
  text-align: center;
}


